@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header-text {
  position: relative;
  top: 60vh;
}

.first-page {
  height: 100vh;
  background-image: url(../assets/background/first-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

article {
  /* color: white; */
  display: flex;
  /* padding: 7vh 0 10vh 0; */
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* height: 80vh; */
}

article h2 {
  font-family: "HYWenHei-85W";
  font-size: 4.8rem;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #b5bab0;
  -webkit-text-stroke-width: 1px;
}

@media screen and (max-width: 800px) {
  article h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .header-text {
    top: 70vh;
  }
  article h1 {
    font-size: 3rem;
  }
}

.second-page {
  /* display: flex; */
  margin: 0;
  height: 100vh;
  background-image: url(../assets/background/second-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-features {
  /* padding: 0; */
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  background-color: #fff0db;
  border-radius: 10px;
  justify-content: center;
  margin: 0 40px;
  width: 85%;
}

.title h1 {
  /* padding-right: 10px;
  padding-left: 10px; */
  font-family: "HYWenHei-85W";
  font-size: 4rem;
  color: #583e20;
}

.line {
  height: 5px;
  width: 100%;
  background-color: #fff0db;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.first-feature {
  display: flex;
  margin: 0px 40px;
  margin-top: 100px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* height: 400px; */
}

.caption {
  background-color: #fff0db;
  border-radius: 10px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  width: 400px;
  /* padding: 10px 20px; */
}
.sub-title {
  text-align: center;
  font-family: "HYWenHei-85W";
  color: #583e20;
  font-size: 1.8rem;
  padding-bottom: 10px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 40px;
}

.text {
  text-align: left;
  font-size: 15pt;
  font-family: "HYWenHei-85W";
  color: #583e20;
  text-align: justify;
}
.inner-caption {
  /* width: 60%;
  height: 60%; */
  padding: 15px;
}

.image img {
  height: 300px;
  border-radius: 10px;
}

/* title */
@media screen and (max-width: 1550px) {
  .title h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1350px) {
  .title h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1170px) {
  .title h1 {
    font-size: 2.5rem;
  }
}

/* content */
@media screen and (max-width: 1280px) {
  .caption {
    height: 300px;
    width: 380px;
  }

  .sub-title {
    font-size: 1.4rem;
  }

  .text {
    font-size: 12pt;
  }
  .image img {
    height: 300px;
  }
}

@media screen and (max-width: 1130px) {
  .caption {
    height: 260px;
    width: 350px;
  }

  .sub-title {
    padding-top: 30px;
    font-size: 1.4rem;
  }

  .text {
    font-size: 12pt;
  }
  .image img {
    height: 260px;
  }
}

@media screen and (max-width: 1030px) {
  .title h1 {
    font-size: 2rem;
  }
  .caption {
    height: 260px;
    width: 300px;
  }

  .sub-title {
    padding-top: 30px;
    font-size: 1.4rem;
  }

  .text {
    font-size: 12pt;
  }
  .image img {
    width: 600px;
  }
}

@media screen and (max-width: 950px) {
  .caption {
    height: 220px;
    width: 300px;
  }

  .sub-title {
    padding-top: 30px;
    font-size: 1.2rem;
  }

  .text {
    font-size: 10pt;
  }
  .image img {
    height: 220px;
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .title h1 {
    font-size: 1.6rem;
  }

  .first-feature {
    flex-direction: column;
    margin-top: 50px;
  }
  .caption {
    /* flex-direction: row; */
    height: 120px;
    width: 500px;
    border-radius: 0;
  }
  .inner-caption {
    padding: 10px;
  }
  .sub-title {
    padding-top: 10px;
    font-size: 1.2rem;
    padding-bottom: 20px;
  }

  .text {
    font-size: 11pt;
  }
  .image img {
    height: 240px;
    width: 500px;
  }
}

.third-page {
  margin: 0;
  height: 100vh;
  background-image: url(../assets/background/third-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
