.social-media{
    background-color: rgb(17, 26, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media h2{
    color : rgba(255,255,255,1);
    padding-right: 5vw;
    text-transform: uppercase;
    font-weight: bolder;
}

.social-media .fab{
    padding: 1.5rem 1rem;
    font-size: 2rem;
    background: none;
    color : rgba(255,255,255,0.7);
}

.social-media-logo{
    padding-left: 3rem;
}

.social-media .fab:hover{
    color : rgba(255,255,255,1);
}

@media screen and (max-width : 750px){
    .social-media .fab{
        padding: 1rem 0.5rem;
        font-size: 1rem;
    }
    .social-media h2{
        font-size: 1.2rem;
    }
}

@media screen and (max-width : 470px){
    .social-media-logo{
        padding-left: 1rem;
    }
    .social-media .fab{
        padding: 1rem 0.2rem;
        font-size: 1rem;
    }
    .social-media h2{
        padding-left: 1rem; 
        font-size: 1rem;
    }
}

@media screen and (max-width : 400px){
    .social-media .fab{
        padding: 1rem 0.1rem;
        font-size: 1rem;
    }
    .social-media h2{
        padding-left: 0.5rem; 
        padding-right: 0.5rem;
        font-size: 0.8rem;
    }
}

footer{
    height: 40vh;
    max-height: 15rem;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mihoyo-div{
    padding: 0 1rem;
    width: 20vw;
    height: auto;
    border-right: 2px solid rgba(255,255,255,0.5);;
}

.mihoyo-div img{
    width: 100%;
}

.kenshin-impact-logo{
    padding: 0 1rem 1.5vh;
    width: 20vw;
    height: auto;
}

.kenshin-impact-logo img{
    width: 100%;
}

.terms{
    display: flex;
}

.terms a{
    text-decoration: none;
    color : rgba(255,255,255,0.5);
    transition : all 0.3s;
}

.terms p{
    border-left: 1.5px solid rgba(255,255,255,0.5);
    padding: 0.5rem 1rem;
}

.terms a:hover{
    color : rgba(255,255,255,1);
    text-decoration: underline;
}

.copyright{
    color : rgba(255,255,255,1);
    font-size: 1.2rem;
}

@media screen and (max-width : 1300px){
    .mihoyo-div{
        width: 30vw;
    }
    .kenshin-impact-logo{
        width: 30vw;
    }
}

@media screen and (max-width : 900px){
    .terms p{
        padding: 0.5rem 0.6rem;
    }
    .terms p, .copyright p{
        font-size: 0.7rem;
    }
    .mihoyo-div{
        width: 35vw;
    }
    .kenshin-impact-logo{
        width: 35vw;
    }
}

@media screen and (max-width : 600px){
    .terms p{
        padding: 0.3rem 0.4rem;
    }
    .terms p, .copyright p{
        font-size: 0.7rem;
    }
    .mihoyo-div{
        width: 45vw;
    }
    .kenshin-impact-logo{
        width: 45vw;
    }
}

@media screen and (max-width : 450px){
    .terms p, .copyright p{
        font-size: 0.6rem;
    }
    .mihoyo-div{
        width: 45vw;
    }
    .kenshin-impact-logo{
        width: 45vw;
    }
    footer{
        max-height: 9rem;
    }
}

@media screen and (max-width : 330px){  
    .terms p{
        padding: 0.2rem 0.3rem;
    }
    .terms p, .copyright p{
        font-size: 0.55rem;
    }
    .mihoyo-div{
        width: 45vw;
    }
    .kenshin-impact-logo{
        width: 45vw;
    }
}
        