@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: HYWenHei-85W;
    src : url("../assets/font/zh-cn.ttf");
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x : hidden;
}

.landing-page{
    height: 100vh;
    background-image: url(../assets/background/landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 20% center;
}

.header-text{
    position: relative;
    top : 15vh;
}

article{
    padding : 7vh 0 10vh 0;
    color : white;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    font-size: 2rem;
}

article h2{
    font-family: "HYWenHei-85W";
}

article img{
    width: 45rem;
}


/* hp */

@media screen and (max-width : 1095px){
    article{
        font-size: 2.2rem;
    }
}

@media screen and (max-width : 780px){
    article{
        font-size: 1.5rem;
    }
    article img{
        width: 35rem;
    }
}

@media screen and (max-width : 650px){
    article{
        font-size: 1.3rem;
    }
    article img{
        width: 30rem;
    }
}

@media screen and (max-width : 500px){
    article{
        padding: 10vh 0 12vh 0;
        font-size: 0.9rem;
    }
    article img{
        width: 90%;
    }
}

.news-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    background-image: url('../assets/background/update-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.news-box{
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-title{
    padding: 8rem;
    text-align: center;
    text-transform: uppercase;
}

.news-title h2{
    font-family: "HYWenHei-85W";
    font-size: 3rem;
    color: rgba(255,255,255,1);
}

.new-slide-container{
    width: 40rem;
    height: auto;
    overflow: hidden;
    position: relative;
}

.news-slide{
    display: flex;
    width: 40rem;
    height: auto;
    position: relative;
}

.news-slide img{
    width: 100%;
}

.button-slide{
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 2;
}

.button-slide i{
    color: rgba(255,255,255,0.5);
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.button-slide i:hover{
    color : rgba(255,255,255,1);
}

.news-latest{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    background-color: rgba(0,0,0,0.4);  
    overflow: hidden;
}

.news-text{
    width: 100%;
    height: 100%;
    padding: 1.5rem 0.8rem;
    overflow: hidden;   
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.news-text-title{
    position: relative;
    padding: 0.5rem 0;
    color: rgb(250, 212, 158);
    border-bottom: 2.5px solid rgba(255,255,255,0.2);
    cursor: pointer;
}

.news-text-title::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 2;
    width: 5.5rem;
    height: 2px;
    background-color: rgb(250, 212, 158);
}

.news-text p{
    cursor: pointer;
    font-size: 1.2rem;
    color: rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

.news-text:hover{
    background-color: rgba(255,255,255,0.2);
}

.download{
    min-height: 70vh;
    height: 70vh;
    position: relative;
}

.download-background{
    height: 70vh;
    position: absolute;
    width: 100%;
    background-image: url(../assets/background/Download.jpg);
    background-size: cover;
    background-position: right 20% center;
    background-repeat: no-repeat;
    z-index: -1;
    filter : brightness(70%);
}


.download-content{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.download-text{
    padding-left: 3rem;
    width: 100%;
}

.download-text h2{
    text-align: left;
    font-family: 'HYWenHei-85W';
    color : rgba(255,255,255,0.8);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
    font-size: 2.5rem;
}

.download-button{
    padding: 0.3rem;
    border : 1px solid rgba(255,255,255,1);
}

.download-button a{
    text-decoration: none;
}

.download-button button{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 26, 36);
    font-weight: bolder;
    font-size: 1.5rem;
    width: 25rem;
    height: auto;
    outline: none;
    border: none;
    transition: ease-out 0.3s;
    cursor : pointer;
    padding: 0.8rem 3rem;
    background-color: rgba(255, 255, 255,0.8);
    z-index: 1;
    text-transform: uppercase;
}

.download-button button:hover{
    color : rgb(234, 231, 224);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.download-button button::before{
    transition : 0.3s all ease;
    content : "";
    position: absolute;
    top : 0;
    left : 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: rgb(17, 26, 36);
}

.download-button button:hover:before{
    left : 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


@media screen and (max-width : 950px) {
    .download-content{
        width: 80%;
    }
}

@media screen and (max-width : 770px) {
    .download-text{
        padding-left : 2rem;
    }
    .download-text h2{
        font-size: 2.5rem;
        line-height: 4rem;
    }
    .download-button button{
        font-size: 2.5rem;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width : 560px) {
    .download-content{
        width: 100%;
    }
    .download-text{
        padding-left : 1rem;
    }
    .download-text h2{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .download-button button{
        width: 15rem;
        font-size: 1.3rem;
        padding: 0.5rem 2rem;
    }
    .download-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mondstadt-section{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../assets/background/Mondstat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(65%);
    transition: all 0.5s;
}

.liyueharbor-section{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../assets/background/Liyue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(55%);
    transition: all 0.5s;
}

.character-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    overflow: hidden;
    max-height: 300px;
    transition: all 0.2s;
}

.character-section h2{
    color : rgba(255,255,255,1);
    font-size: 2.5rem;
}

.character-image{
    position: absolute;
    right: 0;
    width: 40%;
    top : -10vh;
    opacity: 0;
    transition: all 0.3s;
}

.character-section:hover{
    border : 5px solid rgba(255,255,255,1);
}

.character-section:hover .mondstadt-section{
    filter: brightness(90%);
    transform: scale(1.1);
}

.character-section:hover .liyueharbor-section{
    filter: brightness(90%);
    transform: scale(1.1);
}

.character-section:hover img{
    opacity: 1;
}

.character-section:hover line{
    opacity: 1;
}

.diamond-line{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.character-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.diamond{
    width: 10vw;
    height: auto;
}

.line{
    opacity: 0;
    width: 20vw;
    height: 15px;
    transition: all 0.5s;
} 

@media screen and (max-width : 770px) {
    .character-section{
        max-height: 250px;
    }
}

@media screen and (max-width : 550px){
    .character-section{
        max-height: 150px;
    }
    .character-section h2{
        font-size: 1.5rem;
    }
}


