@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: HYWenHei-85W;
    src : url("../assets/font/zh-cn.ttf");
}

:root{
    --leftPos1 : 0px;
    --leftPos2 : 0px;
    --leftPos3 : 0px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.landing-page{
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/background/landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 20% center;
}

nav{
    position : fixed;
    padding : 0 1rem;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}


.logo{
    width: 15rem;
    height: fit-content;
}

.logo a img{
    padding-top: 0.5rem;
    width: 100%;
}

.menu{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar{  
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}

.menu-content{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.menu-content a{
    color : rgb(255, 255, 255);
    text-decoration: none;
}

.menu-bar .animation{
    position : absolute;
    height: 5px;
    width: 85px;
    top : 0;
    left: 105px;
    z-index: -5;
    background-color: #7EE0FF;
    transition: all .5s ease 0s;
    --leftPos1 : 105px;
    --leftPos2 : calc(85px + var(--leftPos1) + 10px);
    --leftPos3 : calc(155px + var(--leftPos2));
    --leftPos4 : calc(150px + var(--leftPos3));
}

nav .start-home, .menu-content:first-child:hover ~.animation{
    left : 105px;
}

.menu-content:first-child{
    width: 105px;
}

nav .start-character, .menu-content:nth-child(2):hover ~.animation{
    left : var(--leftPos2);
    width: 150px;
}

.menu-content:nth-child(2){
    width: 150px;
}

nav .start-about, .menu-content:nth-child(3):hover ~.animation{
    left : var(--leftPos3);
    width: 150px;
}

 .menu-content:nth-child(3){
    width: 150px;
 }

nav .start-download, .menu-content:nth-child(4):hover ~.animation{
    left : var(--leftPos4);
    width: 180px;
}

.menu-content:nth-child(4){
    width: 180px;
}

.active{
    text-shadow: 1px 1px 8px #7EE0FF;
}

.menu-content a:hover{
    text-shadow: 1px 1px 8px #7EE0FF;
}
/* .border-active{
    border-top: 5px solid #7EE0FF;
    text-shadow : blur(10px);
} */

.login-content{
    display: none;
}


.login{
    padding : 0.3em 0.8em;
    border : none;
    outline: none;
    border-radius: 5em;
    background-color: rgba(0,136,169,1);
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    color : white;
    cursor: pointer;
}

.login a{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    color : rgb(255, 255, 255);
}

.login:hover{
    background-color: rgba(0,136,169,0.8);
}

.login-logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.login-logo img{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color : white;
    padding-left: 40px;
}

.grey-div{
    height: 10vh;
    background-color: #393B40;
}

aside{
    position : fixed;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: white;
    display: none;
    transition : all 0.5s ease;
    z-index: 2;
}

.list-sidebar{
    list-style: none;
}

.list-sidebar a{
    text-decoration: none;
}

.list-sidebar a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 5rem;
    font-size: 1.2rem;
    color : black;
    padding-left: 2.2rem;
    border-bottom : 1px solid rgba(0,0,0,0.05);
    transition : all 0.4s ease;
}

.list-sidebar li:hover a{
    padding-left: 3.5rem;
}

.list-sidebar a i{
    margin-right: 1.2rem;
}

.sidebar-content{
    opacity: 0;
}

.header-text{
    position: relative;
    top : 18vh;
}

article{
    padding : 7vh 0 10vh 0;
    color : white;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    font-size: 2rem;
}

article h2{
    font-family: "HYWenHei-85W";
}

article img{
    width: 45%;
}

.burger{
    display: none;
    height: 30px;
    padding: 8px;
    cursor: pointer;
    z-index: 2;
}

.burger div{
    width: 20px;
    height: 2.5px;
    background-color: white;
    transition: all 0.3 ease;
}

.burger div:first-child{
    margin-bottom: 4px;
}

.burger div:nth-child(2){
     margin-bottom: 4px;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,4px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-4px);
}

@media screen and (max-width : 1477px){
    .menu-bar .animation{
        left : 70px;  
        --leftPos1 : 70px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }


    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (max-width : 1262px){
    .menu-bar .animation{
        left : 40px;  
        --leftPos1 : 40px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (max-width : 1262px){
    .menu-bar .animation{
        left : 20px;  
        --leftPos1 : 20px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (max-width : 1100px){
    .menu-bar .animation{
        left : 10px;  
        --leftPos1 : 10px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (max-width : 1100px){
    .menu-bar .animation{
        left : 10px;  
        --leftPos1 : 10px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1450px){
    .menu-bar .animation{
        left : 100px;  
        --leftPos1 : 100px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1500px){
    .menu-bar .animation{
        left : 120px;  
        --leftPos1 : 120px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1600px){
    .menu-bar .animation{
        left : 150px;  
        --leftPos1 : 150px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1700px){
    .menu-bar .animation{
        left : 170px;  
        --leftPos1 : 170px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1800px){
    .menu-bar .animation{
        left : 190px;  
        --leftPos1 : 190px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1800px){
    .menu-bar .animation{
        left : 210px;  
        --leftPos1 : 210px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1900px){
    .menu-bar .animation{
        left : 230px;  
        --leftPos1 : 230px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 2000px){
    .menu-bar .animation{
        left : 250px;  
        --leftPos1 : 250px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 2100px){
    .menu-bar .animation{
        left : 270px;  
        --leftPos1 : 270px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

/* hp */
@media screen and (max-width : 1060px){
    .logo{
        height: fit-content;
    }
    .logo a img{
        width: 100%;
    }
    article{
        font-size: 1.6rem;
    }
    article img{
        width: 60%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-content{
        font-size: 1rem;
    }
    .login{
        width: 18%;
    }
    .login-logo{
        font-size: 1.2rem;
    }
}


@media screen and (max-width : 770px){
    .logo{
        height: fit-content;
    }
    .logo a img{
        padding-top: 0;
        width: 100%;
    }
    article{
        font-size: 1.2rem;
    }
    body{
        overflow-x : hidden;
    }
    .menu{
        display: none;
    }
    .list-sidebar a{
        font-size: 2rem;
        line-height: 7rem;
    }
    aside{
        width: 60vw;
        display: block;
        transform : translateX(100%);
    }
    .burger{
        display: block;
        padding-right: 30px;
    }
    .burger div{
        width: 30px;
        height: 4px;
    }
    .burger div:first-child{
        margin-bottom: 7px;
    }
    .burger div:nth-child(2){
        margin-bottom: 7px;
    }
    nav{
        height: 10vh;
        justify-content: space-between;
        background-color: rgba(0,0,0,0);
    }
    #logo-navbar{
        visibility: hidden;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-8px,8px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-8px,-8px);
    }
}

@media screen and (max-width : 500px){
    .burger{
        padding: 8px;
    }
    .burger div{
        width: 20px;
        height: 2.5px;
    }
    .burger div:first-child{
        margin-bottom: 4px;
    }

    .burger div:nth-child(2){
        margin-bottom: 4px;
    }
    .logo{
        height: fit-content;
    }
    .logo a img{
        width: 100%;
    }
    header img{
        width: 70%;
    }
    .logo a img{
        padding: 0.5rem;
    }
    aside{
        width: 80vw;
    }
    .list-sidebar a{
        line-height: 5rem;
        font-size: 1.2rem;
    }
    article{
        padding: 10vh 0 12vh 0;
        font-size: 0.9rem;
    }
    article img{
        width: 90%;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,4px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-4px);
    }
}

.menu-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.gameplay-div{
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/background/gameplay.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.gameplay-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.gameplay-title h2{
    font-size: 2rem;
    text-align: center;
    font-family: "HYWenHei-85W";
}

.gameplay-card{     
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameplay-detail{
    width: 70vw;
    height: 55vh;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.gameplay-photo{
    width: 100%;
    height: 100%;
}

.gameplay-photo img{
    width: 100%;
    height: 100%;
}

.gameplay-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    word-spacing: 0.2rem;
    background-color: rgba(0,0,0,0.5);
    color : white;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

@media screen and (min-width : 750px){
    .gameplay-detail{
        flex-direction: row;
        width: 80vw;
        max-width: 1000px;
        max-height: 500px;
    }
    .gameplay-title h2{
        font-size: 3rem;
    }

    .gameplay-photo{
        width: 50%;
        height: 80%;
    }
    .gameplay-text{
        width: 50%;
        height: 80%;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}


@media screen and (min-width : 1000px){
    .gameplay-text{
        padding : 1.1rem 0.5rem;
        font-size: 1.5rem;
        line-height: 1.3;
    }
    .gameplay-detail{
        width: 90vw;
        height: 80%;
        max-width: 1200px;
        max-height: 650px;
    }
}

@media screen and (min-width : 1400px){
    .gameplay-title h2{
        font-size: 4rem;
    }
    .gameplay-photo{
        width: 50%;
    }
    .gameplay-text{
        padding : 1.1rem 0.5rem;
        font-size: 1.8rem;
        line-height: 1.4;
    }
}
