@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: HYWenHei-85W;
    src : url("../assets/font/zh-cn.ttf");
}

:root{
    --leftPos1 : 0px;
    --leftPos2 : 0px;
    --leftPos3 : 0px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x : hidden;
}

.landing-page{
    height: 100vh;
    background-image: url(../assets/background/landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 20% center;
}

nav{
    position : fixed;
    padding : 0 1rem;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    transition: all 0.5s ease;
}

.dropdown{
    position : relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    position : absolute;
    top : 15vh;
    left: 0;
    display: none;
    list-style: none;
    background-color: #2F2D2B;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    transition : all 5s ease-in-out;
}

.dropdown-content li a{
    color : white;
    text-decoration: none;
    display: block;
    padding: 1.5rem;
}

.dropdown-content li a:hover{
    background-color: #3E3F3F;
}

.logo{
    width: 15rem;
    height: fit-content;
}

.logo a img{
    padding-top: 0.5rem;
    width: 100%;
}

.menu{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar{  
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}

.menu-content{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.menu-content a{
    color : rgb(255, 255, 255);
    text-decoration: none;
}

.menu-bar .animation{
    position : absolute;
    height: 5px;
    width: 85px;
    top : 0;
    left: 105px;
    z-index: -5;
    background-color: #7EE0FF;
    transition: all .5s ease 0s;
    --leftPos1 : 105px;
    --leftPos2 : calc(85px + var(--leftPos1) + 10px);
    --leftPos3 : calc(155px + var(--leftPos2));
    --leftPos4 : calc(150px + var(--leftPos3));
}

nav .start-home, .menu-content:first-child:hover ~.animation{
    left : 105px;
}

.menu-content:first-child{
    width: 105px;
}

nav .start-character, .menu-content:nth-child(2):hover ~.animation{
    left : var(--leftPos2);
    width: 150px;
}

.menu-content:nth-child(2){
    width: 150px;
}

nav .start-about, .menu-content:nth-child(3):hover ~.animation{
    left : var(--leftPos3);
    width: 150px;
}

 .menu-content:nth-child(3){
    width: 150px;
 }

nav .start-download, .menu-content:nth-child(4):hover ~.animation{
    left : var(--leftPos4);
    width: 180px;
}

.menu-content:nth-child(4){
    width: 180px;
}

.active{
    text-shadow: 1px 1px 8px #7EE0FF;
}

.menu-content:hover{
    text-shadow: 1px 1px 8px #7EE0FF;
}

.login-content{
    display: none;
}


.login{
    padding : 0.3em 0.8em;
    border : none;
    outline: none;
    border-radius: 5em;
    background-color: rgba(0,136,169,1);
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    color : white;
    cursor: pointer;
}

.login a{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    color : rgb(255, 255, 255);
}

.login:hover{
    background-color: rgba(0,136,169,0.8);
}

.login-logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.login-logo img{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color : white;
    padding-left: 40px;
}

.grey-div{
    height: 10vh;
    background-color: #393B40;
}

.sidebar-div{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: none;
    z-index: 5;
}

aside{
    position : fixed;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: white;
    display: none;
    transition : all 0.5s ease;
    z-index: 10;
}

.list-sidebar{
    list-style: none;
}

.list-sidebar a{
    text-decoration: none;
}

.list-sidebar a{
    display: block;
    height: 100%;
    width: 100%;
    border-left: 5px solid white;
    line-height: 5rem;
    font-size: 1.2rem;
    color : black;
    padding-left: 2.2rem;
    border-bottom : 0.5px solid rgba(0,0,0,0.1);
    transition : all 0.4s ease;
}

.sidebar-active{
    border-left: 5px solid #7EE0FF;
}

.list-sidebar li:hover a{
    padding-left: 3.5rem;
}

.list-sidebar a i{
    margin-right: 1.2rem;
}

.sidebar-content{
    opacity: 0;
}

.header-text{
    position: relative;
    top : 18vh;
}

article{
    padding : 7vh 0 10vh 0;
    color : white;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    font-size: 2rem;
}

article h2{
    font-family: "HYWenHei-85W";
}

article img{
    width: 45%;
}

.burger{
    position : fixed;
    right: 5vw;
    top : 2vh;
    display: none;
    height: 30px;
    padding: 8px;
    cursor: pointer;
    z-index: 10;
}

.burger div{
    width: 20px;
    height: 2.5px;
    background-color: white;
    transition: all 0.3s ease;
}

.burger div:first-child{
    margin-bottom: 4px;
}

.burger div:nth-child(2){
     margin-bottom: 4px;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,4px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-4px);
}

@media screen and (max-width : 1477px){
    .menu-bar .animation{
        left : 70px;  
        --leftPos1 : 70px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }


    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (max-width : 1262px){
    .menu-bar .animation{
        left : 20px;  
        --leftPos1 : 20px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (max-width : 1100px){
    .menu-bar .animation{
        left : 10px;  
        --leftPos1 : 10px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1200px){
    .menu-bar .animation{
        left : 35px;  
        --leftPos1 : 35px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1250px){
    .menu-bar .animation{
        left : 50px;  
        --leftPos1 : 50px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1300px){
    .menu-bar .animation{
        left : 60px;  
        --leftPos1 : 60px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1350px){
    .menu-bar .animation{
        left : 75px;  
        --leftPos1 : 75px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1400px){
    .menu-bar .animation{
        left : 90px;  
        --leftPos1 : 85px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1450px){
    .menu-bar .animation{
        left : 100px;  
        --leftPos1 : 100px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1500px){
    .menu-bar .animation{
        left : 110px;  
        --leftPos1 : 110px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1550px){
    .menu-bar .animation{
        left : 125px;  
        --leftPos1 : 125px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1600px){
    .menu-bar .animation{
        left : 140px;  
        --leftPos1 : 140px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1650px){
    .menu-bar .animation{
        left : 155px;  
        --leftPos1 : 155px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1700px){
    .menu-bar .animation{
        left : 165px;  
        --leftPos1 : 165px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1750px){
    .menu-bar .animation{
        left : 175px;  
        --leftPos1 : 175px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1800px){
    .menu-bar .animation{
        left : 190px;  
        --leftPos1 : 190px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1850px){
    .menu-bar .animation{
        left : 205px;  
        --leftPos1 : 205px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1900px){
    .menu-bar .animation{
        left : 220px;  
        --leftPos1 : 220px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 1950px){
    .menu-bar .animation{
        left : 230px;  
        --leftPos1 : 230px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 2000px){
    .menu-bar .animation{
        left : 245px;  
        --leftPos1 : 245px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 2050px){
    .menu-bar .animation{
        left : 255px;  
        --leftPos1 : 255px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 2100px){
    .menu-bar .animation{
        left : 270px;  
        --leftPos1 : 270px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 2150px){
    .menu-bar .animation{
        left : 285px;  
        --leftPos1 : 285px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

@media screen and (min-width : 2200px){
    .menu-bar .animation{
        left : 295px;  
        --leftPos1 : 295px;
    }
    nav .start-home, .menu-content:first-child:hover ~.animation{
        left : var(--leftPos1);
    }

    nav .start-character, .menu-content:nth-child(2):hover ~.animation{
        left : var(--leftPos2);
    }

    nav .start-about, .menu-content:nth-child(3):hover ~.animation{
        left : var(--leftPos3);
    }

    nav .start-download, .menu-content:nth-child(4):hover ~.animation{
        left : var(--leftPos4);
    }
}

/* hp */

@media screen and (max-width : 1030px){
    .logo{
        height: fit-content;
    }
    .logo a img{
        padding-top: 0;
        width: 90%;
    }
    article{
        font-size: 1.2rem;
    }
    .menu{
        display: none;
    }
    .list-sidebar a{
        font-size: 2rem;
        line-height: 7rem;
    }
    aside{
        width: 60vw;
        display: block;
        transform : translateX(100%);
    }
    .burger{
        display: block;
        padding-right: 30px;
    }
    .burger div{
        width: 30px;
        height: 4px;
    }
    .burger div:first-child{
        margin-bottom: 7px;
    }
    .burger div:nth-child(2){
        margin-bottom: 7px;
    }
    nav{
        position : fixed;
        height: 10vh;
        justify-content: space-between;
        background-color: rgba(0,0,0,0);
    }
    #logo-navbar{
        visibility: hidden;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-8px,8px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-8px,-8px);
    }
}

@media screen and (max-width : 500px){
    .burger{
        padding: 8px;
    }
    .burger div{
        width: 20px;
        height: 2.5px;
    }
    .burger div:first-child{
        margin-bottom: 4px;
    }

    .burger div:nth-child(2){
        margin-bottom: 4px;
    }
    .logo{
        height: fit-content;
    }
    .logo a img{
        width: 68%;
    }
    header img{
        width: 70%;
    }
    .logo a img{
        padding: 0.5rem;
    }
    aside{
        width: 80vw;
    }
    .list-sidebar a{
        line-height: 5rem;
        font-size: 1.2rem;
    }
    article{
        padding: 10vh 0 12vh 0;
        font-size: 0.9rem;
    }
    article img{
        width: 90%;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,4px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-4px);
    }
}

.menu-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.gameplay-background{
    position : absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/background/gameplay.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    filter : blur(2px);
}

.gameplay-background::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

.gameplay-div{
    min-height: 100vh;
    color: white;
}

.gameplay-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.gameplay-title h2{
    font-size: 2rem;
    text-align: center;
    font-family: "HYWenHei-85W";
}

.gameplay-card{     
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameplay-detail{
    width: 70vw;
    height: 55vh;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.gameplay-photo{
    width: 100%;
    height: 100%;
}

.gameplay-photo img{
    width: 100%;
    height: 100%;
}

.gameplay-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    word-spacing: 0.2rem;
    background-color: rgba(0,0,0,0.5);
    color : white;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

@media screen and (min-width : 750px){
    .gameplay-detail{
        flex-direction: row;
        width: 80vw;
        max-width: 1000px;
        max-height: 500px;
    }
    .gameplay-title h2{
        font-size: 3rem;
    }

    .gameplay-photo{
        width: 50%;
        height: 80%;
    }
    .gameplay-text{
        width: 50%;
        height: 80%;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

@media screen and (min-width : 1000px){
    .gameplay-text{
        padding : 1.1rem 1.5rem;
        font-size: 1.3rem;
        line-height: 1.35;
    }
    .gameplay-detail{
        width: 90vw;
        height: 80%;
        max-width: 1200px;
        max-height: 650px;
    }
}

@media screen and (min-width : 1400px){
    .gameplay-title h2{
        font-size: 3rem;
    }
    .gameplay-photo{
        width: 50%;
    }
    .gameplay-text{
        padding : 1rem 1.5rem;
        font-size: 1.6rem;
        line-height: 1.3;
    }
}

.update-div{
    position: relative;
    min-height: 100vh;
}

.update-background{
    position : absolute;
    width: 100%;
    min-height: 100%;
    background-image: url(../assets/background/update.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 20% center;
    z-index : -2;
    filter : blur(2px);
}

.update-background::after{
    content: '';
    position : absolute;
    width: 100%;
    height : 100%;
    background-color: rgba(0,0,0,0.15);
}

.update-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding-top: 10vh;
    color: white;
}

.update-title h2{
    text-align: center;
    font-family: "HYWenHei-85W";
    font-size: 3rem;
}

.update-detail{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.update-photo{
    width: 40%;
    height: 50%;
    min-width: 320px;
    max-height: 400px;
}

.update-photo img{
    width: 100%;
    height: 100%;
}

.update-version{
    background-color: rgba(0,0,0,0.3);
    height: 50%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 1rem 1rem;
    max-height: 400px;
    min-width: 320px;
}

.update-version h2{
    font-size: 2rem;
}

.update-version p{
    cursor : pointer;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
}

.update-version p:hover{
    background-color : rgba(255,255,255,0.1);
}

.update-version span{
    color : rgba(255,255,255,0.5);
}

@media screen and (max-width : 1200px){
    .update-version h2{
        font-size: 1.5rem;
    }

    .update-version p{
        font-size: 1.1rem;
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width : 1105px){
    .update-version h2{
        font-size: 1.3rem;
    }

    .update-version p{
        font-size: 1rem;
        border-bottom: 1px solid white;
    }
}


@media screen and (max-width : 1050px){
    .update-photo{
        width: 50%;
        height: 35%;
    }
    .update-version{
        width: 30%;
        height: 35%;
    }   
     .update-version h2{
        font-size: 1.7rem;
    }
    .update-version p{
        font-size: 1.3rem;
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width : 760px){
    .update-version{
        width: 50%;
        height: 40%;
        min-width: 370px;
    }   
    .update-title h2{
        font-size: 2rem;
    }
    .update-detail{
        flex-direction: column;
    }
    .update-photo{
        width: 50%;
        height: 40%;
        min-width: 370px;
    }
}


@media screen and (max-width : 405px) {
     .update-photo{
        min-width: 280px;
        height: auto;
    }
    .update-version{
        min-width: 280px;
        height: auto;
    }   
    .update-header h2{
        font-size: 1.2rem;
    }
    .update-text p{
        font-size: 1rem;
    }
    .update-version{
        padding: 1rem 0;
    }
}

@media screen and (max-width : 330px) {
     .update-version h2{
        font-size: 1.5rem;
    }
    .update-version p{
        font-size: 1.2rem;
        border-bottom: 1px solid white;
    }
}

.download{
    min-height: 70vh;
    height: 70vh;
    position: relative;
}

.download-background{
    height: 70vh;
    position: absolute;
    width: 100%;
    background-image: url(../assets/background/Download.jpg);
    background-size: cover;
    background-position: right 20% center;
    background-repeat: no-repeat;
    z-index: -1;
    filter : brightness(70%);
}


.download-content{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.download-text{
    padding-left: 3rem;
    width: 100%;
}

.download-text h2{
    text-align: left;
    font-family: 'HYWenHei-85W';
    color : rgba(255,255,255,0.8);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
    font-size: 2.5rem;
}

.download-button{
    padding: 0.3rem;
    border : 1px solid rgba(255,255,255,1);
}

.download-button button{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 26, 36);
    font-weight: bolder;
    font-size: 1.5rem;
    width: 25rem;
    height: auto;
    outline: none;
    border: none;
    transition: ease-out 0.3s;
    cursor : pointer;
    padding: 0.8rem 3rem;
    background-color: rgba(255, 255, 255,0.8);
    z-index: 1;
    text-transform: uppercase;
}

.download-button button:hover{
    color : rgb(234, 231, 224);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.download-button button::before{
    transition : 0.3s all ease;
    content : "";
    position: absolute;
    top : 0;
    left : 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: rgb(17, 26, 36);
}

.download-button button:hover:before{
    left : 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


@media screen and (max-width : 950px) {
    .download-content{
        width: 80%;
    }
}

@media screen and (max-width : 770px) {
    .download-text{
        padding-left : 2rem;
    }
    .download-text h2{
        font-size: 2.5rem;
        line-height: 4rem;
    }
    .download-button button{
        font-size: 2.5rem;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width : 560px) {
    .download-content{
        width: 100%;
    }
    .download-text{
        padding-left : 1rem;
    }
    .download-text h2{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .download-button button{
        width: 15rem;
        font-size: 1.3rem;
        padding: 0.5rem 2rem;
    }
    .download-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-us{
    position : relative;
    height: 100vh;
    min-height: 100vh;
}

.contact-us-background{
    position : absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/background/ContactUs.jpg);
    background-position: left 20% center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.contact-us-content{
    padding : 2vh 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.contact-us-title {
    width: 100%;
    height: 15vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact-us-title h2{
    color : white;
    font-family: 'HYWenHei-85W';
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.contact-us-detail{
    width: 60rem;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1rem;
    backdrop-filter: blur(2px);
    max-height: 500px;
}

.contact-us-logo{
    width: 100%;
}

.contact-us-logo i{
    margin: 0 1.5rem 1.5rem 0;  
    font-size: 3rem;
}

.contact-us-logo:first-child{
    margin-left: 2rem;
}

.contact-us-box{
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.contact-us-row{
    width: fit-content;
    padding: 1rem 1rem; 
}

.contact-us-row h2{
    color : white;
    font-family: 'HYWenHei-85W';
    font-size: 1.3rem;
    border-left: 5px solid rgb(45, 113, 188);
    padding-left: 1.2rem;
}

.contact-us-row p{
    line-height: 2rem;
}

.fab {
    padding: 0.7rem;
    font-size: 3rem;    
    text-align: center;
    text-decoration: none;
    border-radius: 0.8rem;
    cursor : pointer;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-discord{
    background : #6776BA;
    color : white;
}

@media screen and (min-width : 1600px) {
    .contact-us-title h2{
        font-size: 5rem;
    }
    .contact-us-detail{
        width: 75rem;
    }  
    .contact-us-row h2{
        font-size: 2rem;
    }
    .contact-us-row p{
        font-size: 1.2rem;
        line-height: 2.5rem;
        padding-left: 0.2rem;
    }  
    .contact-us-logo:first-child{
        margin-left: 5rem;
    }
}

@media screen and (max-width : 1100px){
    .contact-us-content{
        align-items: center;
    }
    .contact-us-detail{
        width: 100%;
    }
}

@media screen and (max-width : 950px) {
    .contact-us-row h2{
        font-size: 2rem;
    }
    .contact-us-row p{
        font-size: 1.2rem;
        line-height: 1.3rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width : 850px){
    .contact-us-logo i{
        font-size: 3rem;
        margin: 0 1.5rem;   
    }
    .contact-us-detail{
        max-height: 600px;
        justify-content: space-evenly;
    }
    .contact-us{
        height: auto;
    }
    .contact-us-box{
        flex-direction: column;
        height: fit-content;
        align-items: flex-start;
        justify-content: center;
    }
    .contact-us-row{
        padding: 0.5rem 1rem;
    }
    .contact-us-row p{
        line-height: 0.5rem;
    }
    .contact-us-title h2{
        font-size: 3rem;
    }
}

@media screen and (max-width : 650px){
     .contact-us-detail{
        max-height: 600px;
        justify-content: space-evenly;
    }
    .contact-us-logo i{
        font-size: 3rem;
        margin: 0 0.7vw; 
    }
}

@media screen and (max-width : 420px){
    .contact-us-title h2{
        font-size: 1.5rem;
    }

    .contact-us-logo i{
        font-size: 1.5rem;
        margin: 0 0.7vw; 
    }
    .contact-us-row h2{
        font-size: 1.2rem;
    }
    .contact-us-row p{
        font-size: 0.9rem;
        line-height: 0.7rem;
    } 
}

@media screen and (max-width : 330px){

    .contact-us-logo i{
        font-size: 1rem;
        margin: 0 0.7vw; 
    }
    .contact-us-row h2{
        font-size: 0.8rem;
    }
    .contact-us-row p{
        font-size: 0.8rem;
        line-height: 0.6rem;
    } 
}

.mondstadt-section{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../assets/background/Mondstat.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(65%);
}

.liyueharbor-section{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../assets/background/Liyue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(55%);
}

.character-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
    height: 40vh;
    overflow: hidden;
    max-height: 300px;
    transition: all 0.2s;
}

.character-section h2{
    color : rgba(255,255,255,1);
    font-size: 2.5rem;
}

.character-section img{
    position: absolute;
    right: 0;
    width: 40%;
    top : -10vh;
    height: auto;
    opacity: 0;
    transition: all 0.3s;
}

.character-section:hover{
    border : 5px solid rgba(255,255,255,1);
}

.character-section:hover .mondstadt-section{
    filter: brightness(90%);
}

.character-section:hover .liyueharbor-section{
    filter: brightness(90%);
}

.character-section:hover img{
    opacity: 1;
}

@media screen and (max-width : 770px) {
    .character-section{
        max-height: 250px;
    }
    /* .character-section h2{
        font-size: 1.5rem;
    } */
}

@media screen and (max-width : 550px){
    .character-section{
        max-height: 150px;
    }
    .character-section h2{
        font-size: 1.5rem;
    }
}
footer{
    height: 40vh;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mihoyo-div{
    padding: 0 1rem;
    width: 20vw;
    height: auto;
    border-right: 2px solid rgba(255,255,255,0.5);;
}

.mihoyo-div img{
    width: 100%;
}

.kenshin-impact-logo{
    padding: 0 1rem 1.5vh;
    width: 20vw;
    height: auto;
}

.kenshin-impact-logo img{
    width: 100%;
}

.terms{
    display: flex;
}

.terms a{
    text-decoration: none;
    color : rgba(255,255,255,0.5);
    transition : all 0.3s;
}

.terms p{
    border-left: 1.5px solid rgba(255,255,255,0.5);
    padding: 0.5rem 1rem;
}

.terms a:hover{
    color : rgba(255,255,255,1);
    text-decoration: underline;
}

.copyright{
    color : rgba(255,255,255,1);
    font-size: 1.2rem;
}

@media screen and (max-width : 1300px){
    .mihoyo-div{
        width: 30vw;
    }
    .kenshin-impact-logo{
        width: 30vw;
    }
}

@media screen and (max-width : 900px){
    .terms p{
        padding: 0.5rem 0.6rem;
    }
    .terms p, .copyright p{
        font-size: 0.7rem;
    }
    .mihoyo-div{
        width: 35vw;
    }
    .kenshin-impact-logo{
        width: 35vw;
    }
}

@media screen and (max-width : 600px){
    .terms p{
        padding: 0.3rem 0.4rem;
    }
    .terms p, .copyright p{
        font-size: 0.7rem;
    }
    .mihoyo-div{
        width: 45vw;
    }
    .kenshin-impact-logo{
        width: 45vw;
    }
}

@media screen and (max-width : 450px){
    .terms p, .copyright p{
        font-size: 0.6rem;
    }
    .mihoyo-div{
        width: 45vw;
    }
    .kenshin-impact-logo{
        width: 45vw;
    }
}

@media screen and (max-width : 330px){  
    .terms p{
        padding: 0.2rem 0.3rem;
    }
    .terms p, .copyright p{
        font-size: 0.55rem;
    }
    .mihoyo-div{
        width: 45vw;
    }
    .kenshin-impact-logo{
        width: 45vw;
    }
}
